<footer>
    <p class="contact">Со мной можно связаться в ВК: <a href="https://vk.com/adefault" target="_blank">https://vk.com/adefault</a></p>
    <p class="contact">Профиль на FreeLanceHunt: <a href="https://freelancehunt.com/freelancer/BoozyPenguin.html" target="_blank">BoozyPenguin</a></p>
    <p class="contact">Профиль на GitHub: <a href="https://github.com/BoozyPenguin" target="_blank">BoozyPenguin</a></p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../../build/js/main.js"></script>